*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
 margin: 0 auto;
 width: 1512px;
 height: 5000px;
 background: black;
}
.header{
    width: 100%;
    height: 921px;
    background-image: url(/BGs.png);
}